html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
h1 {
  color: #666;
}
img {
  max-width: 100%;
}
.img-container {
  transition: all 0.3s;
  transform: scale(0.3);
  opacity: 0.5;
}
.img-container.in {
  transform: scale(1);
  opacity: 1;
}
